@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

html,
.App {
  padding: 0;
  margin: 0;
  font-family:'Caprasimo', cursive;
    
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: #e7e8e8;
  background: #0f1318;
}

.connect {
  align-items: center;
  justify-items: center;
  background-color: transparent;
  justify-content: center;
  position: relative;
}